## Formating the data (electricity prices)

In [1]:
import pandas as pd
import numpy as np

### Import data in .csv format

In [2]:
df = pd.read_csv('nrg_pc_205_MT150000.csv', sep=",", header=0) 
#source: https://ec.europa.eu/eurostat/databrowser/view/NRG_PC_205__custom_7096193/default/table

In [3]:
df.head()

,DATAFLOW,LAST UPDATE,freq,product,nrg_cons,unit,tax,currency,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NRG_PC_205(1.0),28/06/23 23:00:00,S,6000,MWH_GE150000,KWH,X_TAX,EUR,DE,2019-S2,0.0348,NaN
1,ESTAT:NRG_PC_205(1.0),28/06/23 23:00:00,S,6000,MWH_GE150000,KWH,X_TAX,EUR,DE,2020-S1,0.0342,NaN
2,ESTAT:NRG_PC_205(1.0),28/06/23 23:00:00,S,6000,MWH_GE150000,KWH,X_TAX,EUR,DE,2020-S2,0.0389,NaN
3,ESTAT:NRG_PC_205(1.0),28/06/23 23:00:00,S,6000,MWH_GE150000,KWH,X_TAX,EUR,DE,2021-S1,0.0514,NaN
4,ESTAT:NRG_PC_205(1.0),28/06/23 23:00:00,S,6000,MWH_GE150000,KWH,X_TAX,EUR,DE,2021-S2,0.0981,NaN

### Delete unnecassary columns

In [4]:
columns_to_delete = list(range(0,9))
df = df.drop(df.columns[columns_to_delete], axis=1)
df = df.drop('OBS_FLAG', axis=1)

In [5]:
df.head()

  TIME_PERIOD  OBS_VALUE
0     2019-S2     0.0348
1     2020-S1     0.0342
2     2020-S2     0.0389
3     2021-S1     0.0514
4     2021-S2     0.0981

### Multiply all columns ( Since only a semi-annual average is available, this is used for each month.)

In [6]:
df = df.loc[np.repeat(df.index, 6)].reset_index(drop=True)

In [7]:
df.head()

  TIME_PERIOD  OBS_VALUE
0     2019-S2     0.0348
1     2019-S2     0.0348
2     2019-S2     0.0348
3     2019-S2     0.0348
4     2019-S2     0.0348

## Import data in .csv format and merging

In [8]:
df2 = pd.read_csv('Time.csv', sep=",", header=0)

In [9]:
df2.head()

      Time
0  2007-01
1  2007-02
2  2007-03
3  2007-04
4  2007-05

In [10]:
df1 = df.merge(df2, left_on='TIME_PERIOD', right_on='Time')
df1['Time'] = df2['Time'].fillna(df1['Time'])
df1['OBS_VALUE'] = df['OBS_VALUE'].fillna(df1['OBS_VALUE'])
df1 = df1.drop('TIME_PERIOD', axis=1)
df1.rename(columns={'OBS_VALUE': '€/kWh'}, inplace=True)
new_columns_order = ['Time', '€/kWh']
df1 = df1[new_columns_order]

In [11]:
df1.head()

      Time   €/kWh
0  2007-01  0.0348
1  2007-02  0.0348
2  2007-03  0.0348
3  2007-04  0.0348
4  2007-05  0.0348

## Saving the data

In [12]:
df1.to_csv('C:/Users/Jakob/Desktop/Dataset/Electricity prices/MWH_MT150000.csv')