## Merging of the monthly data

In [1]:
import pandas as pd
from os import listdir

### Import data in .csv format

In [2]:
def find_csv_filenames( path_to_dir, suffix="MWH" ):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.startswith( suffix ) ]

In [3]:
file_list = []
filenames = find_csv_filenames('C:/Users/Jakob/Desktop/Dataset/Electricity prices')
for name in filenames:
    file_list.append(name)
    print(name)

MWH_LT20.csv
MWH_MT150000.csv
MWH_MT20.csv
MWH_MT2000.csv
MWH_MT20000.csv
MWH_MT500.csv
MWH_MT70000.csv

In [4]:
filepath = 'C:/Users/Jakob/Desktop/Dataset/Electricity prices/'
df1 = pd.read_csv(filepath+file_list[0], index_col=[0])
df2 = pd.read_csv(filepath+file_list[1], index_col=[0])
df3 = pd.read_csv(filepath+file_list[2], index_col=[0])
df4 = pd.read_csv(filepath+file_list[3], index_col=[0])
df5 = pd.read_csv(filepath+file_list[4], index_col=[0])
df6 = pd.read_csv(filepath+file_list[5], index_col=[0])
df7 = pd.read_csv(filepath+file_list[6], index_col=[0])

### Merging

In [5]:
list = ["Time", '€/kWh']
df = df1.merge(df2, on=list, how='outer')
df = df.merge(df3, on=list, how='outer')
df = df.merge(df4, on=list, how='outer')
df = df.merge(df5, on=list, how='outer')
df = df.merge(df6, on=list, how='outer')
df = df.merge(df7, on=list, how='outer')

In [6]:
df.head(100)

       Time   €/kWh
0   2007-01  0.1489
1   2007-02  0.1489
2   2007-03  0.1489
3   2007-04  0.1489
4   2007-05  0.1489
..      ...     ...
95  2014-12  0.1403
96  2015-01  0.1349
97  2015-02  0.1349
98  2015-03  0.1349
99  2015-04  0.1349

[100 rows x 2 columns]

### Sorting data, form average and saving it

In [7]:
df = df.sort_values(by=['Time'], ignore_index=True)

In [8]:
df.head(7)

      Time   €/kWh
0  2007-01  0.1489
1  2007-01  0.0741
2  2007-01  0.0667
3  2007-01  0.1104
4  2007-01  0.0348
5  2007-01  0.0680
6  2007-01  0.0857

In [9]:
df_grouped = df.groupby('Time')['€/kWh'].mean().reset_index()

In [10]:
df_grouped.head()

      Time     €/kWh
0  2007-01  0.084086
1  2007-02  0.084086
2  2007-03  0.084086
3  2007-04  0.084086
4  2007-05  0.084086

In [11]:
df_grouped.to_csv('C:/Users/Jakob/Desktop/Dataset/electricity_prices_merged.csv')