## Formatting the data (Brent oil price)

In [1]:
import pandas as pd

### Import data in .csv format and delete unnecessary data

In [2]:
df = pd.read_csv('Brent Öl Futures Historische Daten.csv', sep=';')
#https://de.investing.com/commodities/brent-oil-historical-data

In [3]:
df.head()

     Datum Zuletzt Eröffn.   Hoch   Tief     Vol.   +/- %
0  1996-01   16,52   18,55  19,31  15,93  505,04K  -9,87%
1  1996-02   17,76    16,6  18,45  16,43  410,02K   7,51%
2  1996-03   19,41    17,9   20,3   17,2  481,39K   9,29%
3  1996-04   19,02    19,4   23,3  18,08  475,88K  -2,01%
4  1996-05    17,8   18,85  19,68  16,75  472,46K  -6,41%

In [4]:
columns_to_delete = list(range(2,7))
df = df.drop(df.columns[columns_to_delete], axis=1)

In [5]:
df.head()

     Datum Zuletzt
0  1996-01   16,52
1  1996-02   17,76
2  1996-03   19,41
3  1996-04   19,02
4  1996-05    17,8

### Adjustment of column names

In [6]:
df.rename(columns={'Datum': 'Time'}, inplace=True)
df.rename(columns={'Zuletzt': 'Oil_price (USD per gallon)'}, inplace=True)

In [7]:
df.head()

      Time Oil_price (USD per gallon)
0  1996-01                      16,52
1  1996-02                      17,76
2  1996-03                      19,41
3  1996-04                      19,02
4  1996-05                       17,8

### Saving the data

In [8]:
df.to_csv('C:/Users/Jakob/Desktop/Dataset/brent_oil_price.csv')