## Merging the data

In [1]:
import pandas as pd
from os import listdir

### Import data in .csv format and merging

In [2]:
def find_csv_filenames( path_to_dir, suffix=".csv" ):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

In [3]:
file_list = []
filenames = find_csv_filenames('C:/Users/Jakob/Desktop/Dataset/')
for name in filenames:
    file_list.append(name)
    print(name)

air_temperature_merged.csv
data_food_price.csv
data_merging.csv
electricity_prices_merged.csv
prc_hicp_midx_page_linear.csv
precipitation_merged.csv

In [4]:
df1 = pd.read_csv(file_list[1], index_col=[0])
df2 = pd.read_csv(file_list[0], index_col=[0])
df3 = pd.read_csv(file_list[3], index_col=[0])
df4 = pd.read_csv(file_list[5], index_col=[0])

In [5]:
list = ['Time']
df = df1.merge(df2, on=list, how='outer')
df = df.merge(df3, on=list, how='outer')
df = df.merge(df4, on=list, how='outer')

In [6]:
df.head()

      Time  Food_Price  Air_Temperature (°C)  €/kWh  Precipitation (l/m²)
0  1996-01        74.9                 -2.82    NaN                   7.0
1  1996-02        75.5                 -2.18    NaN                  48.6
2  1996-03        76.1                  1.00    NaN                  23.3
3  1996-04        76.4                  8.40    NaN                  23.1
4  1996-05        76.2                 11.15    NaN                  91.4

In [7]:
df.rename(columns={'Time': 'Date'}, inplace=True)

In [8]:
df.head()

      Date  Food_Price  Air_Temperature (°C)  €/kWh  Precipitation (l/m²)
0  1996-01        74.9                 -2.82    NaN                   7.0
1  1996-02        75.5                 -2.18    NaN                  48.6
2  1996-03        76.1                  1.00    NaN                  23.3
3  1996-04        76.4                  8.40    NaN                  23.1
4  1996-05        76.2                 11.15    NaN                  91.4

### Saving the data

In [9]:
df.to_csv('data_merging.csv')