## Merging the data

In [1]:
import pandas as pd
from os import listdir

### Import data in .csv format and merging

In [2]:
def find_csv_filenames( path_to_dir, suffix=".csv" ):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

In [3]:
file_list = []
filenames = find_csv_filenames('C:/Users/Jakob/Desktop/Dataset/')
for name in filenames:
    file_list.append(name)
    print(name)

air_temperature_merged.csv
brent_oil_price.csv
data_food_price.csv
data_merging.csv
electricity_prices_merged.csv
exchange_rate.csv
prc_hicp_midx_page_linear.csv
precipitation_merged.csv

In [4]:
df1 = pd.read_csv(file_list[0], index_col=[0])
df2 = pd.read_csv(file_list[1], index_col=[0])
df3 = pd.read_csv(file_list[2], index_col=[0])
df4 = pd.read_csv(file_list[4], index_col=[0])
df5 = pd.read_csv(file_list[5], index_col=[0])
df6 = pd.read_csv(file_list[7], index_col=[0])

In [5]:
list = ['Time']
df = df1.merge(df2, on=list, how='outer')
df = df.merge(df3, on=list, how='outer')
df = df.merge(df4, on=list, how='outer')
df = df.merge(df5, on=list, how='outer')
df = df.merge(df6, on=list, how='outer')

In [6]:
df.head()

,Time,Air_Temperature (°C),Oil_price (USD per gallon),Food_Price,€/kWh,Exchange_rate ($/€),Precipitation (l/m²)
0,1996-01,-2.82,16.52,74.9,NaN,1.2918,7.0
1,1996-02,-2.18,17.76,75.5,NaN,1.2886,48.6
2,1996-03,1.00,19.41,76.1,NaN,1.2813,23.3
3,1996-04,8.40,19.02,76.4,NaN,1.2639,23.1
4,1996-05,11.15,17.80,76.2,NaN,1.2467,91.4

In [7]:
df.rename(columns={'Time': 'Date'}, inplace=True)
new_columns_order = ['Date', 'Food_Price', 'Oil_price (USD per gallon)', '€/kWh', 'Exchange_rate ($/€)', 'Air_Temperature (°C)', 'Precipitation (l/m²)']
df = df[new_columns_order]

In [8]:
df.head()

,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²)
0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0
1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6
2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3
3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1
4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4

### Saving the data

In [9]:
df.to_csv('data_merging.csv')