## Merging of the monthly data

In [1]:
import pandas as pd
from os import listdir

### Import data in .csv format

In [2]:
def find_csv_filenames( path_to_dir, suffix="_air_temperature.csv" ):
    filenames = listdir(path_to_dir)
    return [ filename for filename in filenames if filename.endswith( suffix ) ]

In [3]:
file_list = []
filenames = find_csv_filenames('C:/Users/Jakob/Desktop/Dataset/Air_temperature')
for name in filenames:
    file_list.append(name)

In [4]:
filepath = 'C:/Users/Jakob/Desktop/Dataset/Air_temperature/'
df1 = pd.read_csv(filepath+file_list[0], index_col=[0])
df2 = pd.read_csv(filepath+file_list[1], index_col=[0])
df3 = pd.read_csv(filepath+file_list[2], index_col=[0])
df4 = pd.read_csv(filepath+file_list[3], index_col=[0])
df5 = pd.read_csv(filepath+file_list[4], index_col=[0])
df6 = pd.read_csv(filepath+file_list[5], index_col=[0])
df7 = pd.read_csv(filepath+file_list[6], index_col=[0])
df8 = pd.read_csv(filepath+file_list[7], index_col=[0])
df9 = pd.read_csv(filepath+file_list[8], index_col=[0])
df10 = pd.read_csv(filepath+file_list[9], index_col=[0])
df11 = pd.read_csv(filepath+file_list[10], index_col=[0])
df12 = pd.read_csv(filepath+file_list[11], index_col=[0])

### Merging

In [5]:
list = ["Time", 'Air_Temperature (°C)']
df = df1.merge(df2, on=list, how='outer')
df = df.merge(df3, on=list, how='outer')
df = df.merge(df4, on=list, how='outer')
df = df.merge(df5, on=list, how='outer')
df = df.merge(df6, on=list, how='outer')
df = df.merge(df7, on=list, how='outer')
df = df.merge(df8, on=list, how='outer')
df = df.merge(df9, on=list, how='outer')
df = df.merge(df10, on=list, how='outer')
df = df.merge(df11, on=list, how='outer')
df = df.merge(df12, on=list, how='outer')

In [6]:
df.head()

      Time  Air_Temperature (°C)
0  1996-04                  8.40
1  1997-04                  6.36
2  1998-04                  8.85
3  1999-04                  8.90
4  2000-04                 10.15

### Sorting data and saving it

In [7]:
df = df.sort_values(by=['Time'], ignore_index=True)

In [8]:
df.head()

      Time  Air_Temperature (°C)
0  1996-01                 -2.82
1  1996-02                 -2.18
2  1996-03                  1.00
3  1996-04                  8.40
4  1996-05                 11.15

In [9]:
df.to_csv('C:/Users/Jakob/Desktop/Dataset/air_temperature_merged.csv')