In [1]:
import pandas as pd

Sheet 3 contains data on producer prices for the manufacture of food products

Reading in the data and removing columns with the name 'Unnamed'

In [2]:
df = pd.read_excel("C:/Price Forecasting Datensätze/Producer_Prices_Data 2.xlsx", sheet_name = 2)
liste = df.columns.tolist()
liste_new =[ i for i in liste if i.startswith('Unnamed') ]
df_new = df.drop(liste_new, axis = 1)
df_new

,TIME,1996-01,1996-02,1996-03,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07
0,European Union - 27 countries (from 2020),:,:,:,:,:,:,:,:,:,...,137.9,138.8,139.5,141.4,142.1,143.2,143.3,142.6,142,:
1,European Union - 28 countries (2013-2020),74.4,74.5,74.5,74.6,74.9,75,75,75.1,75.1,...,:,:,:,:,:,:,:,:,:,:
2,Euro area – 20 countries (from 2023),76.2,76.2,76.2,76.2,76.4,76.5,76.7,76.7,76.8,...,135,135.9,136.6,138.7,139.3,140.5,140.6,140,139.5,:
3,Euro area - 19 countries (2015-2022),76.2,76.2,76.2,76.1,76.4,76.5,76.7,76.7,76.8,...,135.1,136,136.7,138.8,139.5,140.6,140.8,140.2,139.6,:
4,Belgium,:,:,:,:,:,:,:,:,:,...,149.3,149.7,152,153.9,155.8,155.6,156,155.6,153.7,:
5,Bulgaria,:,:,:,:,:,:,:,:,:,...,156.9,158.1,159.8,160.9,160.5,160.8,159.9,159.9,159.7,:
6,Czechia,71.3,72,72.7,73.2,73.3,74.2,74.8,75.5,76.8,...,139.3,140.9,141.9,143.7,144.3,143.9,143.1,141.8,141.3,140.3
7,Denmark,:,:,:,:,:,:,:,:,:,...,134.5,134.8,136,139.1,141.1,141.9,142.4,141.3,141,139.8
8,Germany,78.6,78.4,78.5,78.6,79,79.5,79.5,79.6,79.7,...,140.9,141.2,141.7,144.2,145.2,145.9,146.3,145.9,146.1,:
9,Estonia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
10,Ireland,:,:,:,:,:,:,:,:,:,...,123.7,123.6,123.9,124.9,125.3,124.2,122.6,120.6,118.3,:
11,Greece,:,:,:,:,:,:,:,:,:,...,114.3,115.4,116,117.1,117.5,117.4,118.2,117.9,118,:
12,Spain,69.8,69.8,69.6,69.8,70.1,70,70,70,70.2,...,133.1,134.7,136.1,138.5,139.4,140.6,140.3,140.4,140.4,:
13,France,:,:,:,:,:,:,:,:,:,...,128.6,129.6,129.8,132.4,133.6,136.4,137.3,136.8,135.9,:
14,Croatia,:,:,:,:,:,:,:,:,:,...,118.2,117.9,119.6,119.9,119.4,120.3,120.3,121.4,122.2,121.7
15,Italy,:,:,:,:,:,:,:,:,:,...,130.3,131.8,132.5,132.9,132.8,133.4,133.4,132.1,131.4,:
16,Cyprus,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
17,Latvia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
18,Lithuania,:,:,:,:,:,:,:,:,:,...,148.7,149.2,150.9,151.9,150.9,151.4,150.8,151.5,150.9,149.6
19,Luxembourg,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
20,Hungary,:,:,:,:,:,:,:,:,:,...,205.1,210.4,213.4,218.1,218.1,217.8,215.3,213,209.1,:
21,Malta,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
22,Netherlands,:,:,:,:,:,:,:,:,:,...,152.6,152.8,152.8,155.6,154.3,153.7,151.8,150.4,149.1,:
23,Austria,:,:,:,:,:,:,:,:,:,...,130.6,130.2,131.4,134.3,134.8,135.4,135.1,134.9,135.4,:
24,Poland,:,:,:,:,:,:,:,:,:,...,160.5,161.6,161.3,160.2,160.5,162.1,161.3,159.7,158.4,:
25,Portugal,:,:,:,:,:,:,:,:,:,...,151.8,153.4,154.1,158.5,157.8,156.5,155.4,153.7,150.8,:
26,Romania,:,:,:,:,:,:,:,:,:,...,164.5,167.1,168,167.6,165.7,169.1,169.4,168.3,168.5,:
27,Slovenia,:,:,:,:,:,:,:,:,:,...,135.3,136,136.6,138.1,141,142,143.5,142.7,141.6,:
28,Slovakia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
29,Finland,77.7,78.3,78.2,78.2,78.2,78.2,78.3,79.4,79.2,...,127.1,128.6,129.1,129.8,130.4,133,133,132.9,132.6,:
30,Sweden,73.1,72.9,72.9,73.2,73.3,73.6,73.9,74,73.9,...,144.1,144.5,145.5,149.6,150,151.1,151.6,151.5,151.6,:
31,Norway,:,:,:,:,:,:,:,:,:,...,141.8,145.1,145.3,146.6,147.7,150.1,150.3,150.5,150.5,152.1
32,Switzerland,:,:,:,:,:,:,:,:,:,...,105.6,105.7,106.3,106.3,106,108.4,108.5,108.5,108.6,108.9
33,United Kingdom,71.6,71.9,72.4,72.9,73.1,72.9,72.6,72.4,72.5,...,:,:,:,:,:,:,:,:,:,:
34,Montenegro,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
35,North Macedonia,:,:,:,:,:,:,:,:,:,...,135.6,136.5,135.5,136,134.8,132.1,132.2,131.5,131.1,:
36,Albania,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
37,Serbia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
38,Türkiye,:,:,:,:,:,:,:,:,:,...,643.6,662,684,738.3,764.9,800.4,833,859.3,880.5,:
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,e,estimated,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,s,Eurostat estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
filt = df_new['TIME'] == 'Germany'
df_ger = df_new.loc[filt]

In [4]:
# transposing the Dataframe in order to be able to add the column to an already existing dataframe
transponiert = df_ger.transpose()
liste_Erzeuger_Preise_Nahrungsmittel = transponiert[8].tolist()
liste_Erzeuger_Preise_Nahrungsmittel = liste_Erzeuger_Preise_Nahrungsmittel[1:]

Sheet 13 contains data about producer prices for the manufacture of bakery and farinaceous products

In [5]:
df_b = pd.read_excel("C:/Price Forecasting Datensätze/Producer_Prices_Data 2.xlsx", sheet_name = 14)

In [6]:
liste_b = df_b.columns.tolist()
liste_b = [i for i in liste_b if i.startswith('Unnamed')]
df_b = df_b.drop(liste_b, axis = 1)
df_b

,TIME,1996-01,1996-02,1996-03,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,...,2022-10,2022-11,2022-12,2023-01,2023-02,2023-03,2023-04,2023-05,2023-06,2023-07
0,European Union - 27 countries (from 2020),:,:,:,:,:,:,:,:,:,...,127.3,128.7,129.7,133.3,134.8,135.8,136.4,136.5,136.3,:
1,European Union - 28 countries (2013-2020),:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
2,Euro area – 20 countries (from 2023),:,:,:,:,:,:,:,:,:,...,124,125.2,126.2,129.7,131.2,132.2,132.8,132.8,132.7,:
3,Euro area - 19 countries (2015-2022),:,:,:,:,:,:,:,:,:,...,124,125.3,126.3,129.8,131.3,132.3,132.9,132.9,132.8,:
4,Belgium,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
5,Bulgaria,:,:,:,:,:,:,:,:,:,...,171.4,173.4,175.1,176.5,176.8,177,177.4,178.6,181.6,:
6,Czechia,:,:,:,:,:,:,:,:,:,...,143,145.5,146,148.2,149.8,149.4,150.2,150.3,149.8,149.9
7,Denmark,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
8,Germany,70.2,70.1,70.9,70.8,70.8,70.8,70.9,70.9,70.9,...,134.3,135.3,136.3,142.7,144.5,145,145.1,145,144.9,:
9,Estonia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
10,Ireland,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
11,Greece,:,:,:,:,:,:,:,:,:,...,103.9,104.6,105.2,105.5,106.9,106.9,107.1,107.1,107.2,:
12,Spain,:,:,:,:,:,:,:,:,:,...,121.1,122.1,122.6,125.5,126.6,127.2,127.4,127.6,127.5,:
13,France,:,:,:,:,:,:,:,:,:,...,122,122.8,123.4,125.5,128.4,130.6,131.3,131.5,131.2,:
14,Croatia,:,:,:,:,:,:,:,:,:,...,117.5,117.6,117.7,118.6,118.6,118.8,119.8,121.3,123.8,123.7
15,Italy,:,:,:,:,:,:,:,:,:,...,118,120.3,121.7,124.1,123.2,123.1,124.3,124.2,123.9,:
16,Cyprus,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
17,Latvia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
18,Lithuania,:,:,:,:,:,:,:,:,:,...,143,152.9,156.5,157.8,157.7,160.7,159.7,158.9,158.7,155.9
19,Luxembourg,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
20,Hungary,:,:,:,:,:,:,:,:,:,...,225.5,236.3,237.5,245,249.1,251.8,251.5,251.9,250.2,:
21,Malta,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
22,Netherlands,:,:,:,:,:,:,:,:,:,...,119.5,121.1,123,131.5,132.8,132.6,133.1,132.5,134,:
23,Austria,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
24,Poland,:,:,:,:,:,:,:,:,:,...,149.8,151.5,152.6,158.5,159.9,161.8,162.6,162.1,161.7,:
25,Portugal,:,:,:,:,:,:,:,:,:,...,129.7,131.5,135.2,136.3,136.7,136.7,136.8,136.7,136.5,:
26,Romania,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
27,Slovenia,:,:,:,:,:,:,:,:,:,...,144.4,144.5,145.1,144.5,148,149.5,157,156.2,155.8,:
28,Slovakia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
29,Finland,:,:,:,:,:,:,:,:,:,...,119.6,119.7,119.5,120.1,122.5,123.2,123.5,124,123.8,:
30,Sweden,69.2,69.2,69.5,70.3,70.3,70.5,70,70,70,...,134,134.4,134.6,139.7,141.2,144.1,144.6,143.8,143.4,:
31,Norway,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
32,Switzerland,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
33,United Kingdom,70.2,71.5,72,71.9,72.5,73.6,73.2,73.6,73.6,...,:,:,:,:,:,:,:,:,:,:
34,Montenegro,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
35,North Macedonia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
36,Albania,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
37,Serbia,:,:,:,:,:,:,:,:,:,...,:,:,:,:,:,:,:,:,:,:
38,Türkiye,:,:,:,:,:,:,:,:,:,...,608.3,630.5,661.7,695,713.7,724.3,736.8,742.7,760.6,:
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Special value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,:,not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Available flags:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,c,confidential,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,p,provisional,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,s,Eurostat estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
filt_b = df_b['TIME'] == 'Germany'
df_b_ger = df_b.loc[filt_b]
df_b_ger = df_b_ger.transpose()
l = df_b_ger[8].tolist()
l = l[1:]

Sheet 14: Producer prices for the manufacture of bread, fresh pastery goods, cakes
Sheet 16: Producer prices for the manufacture of other food products
Sheet 20: Producer prices for the manufacture of prepared animal feeds for farm animals
Sheet 22: Producer prices for the manufacture of pesticides and other agrochemical products

In [8]:
# ganze_liste will contain every list at the end of the code
ganze_liste = []

for i in [15,17,21,23]:
    df_s = pd.read_excel("C:/Price Forecasting Datensätze/Producer_Prices_Data 2.xlsx", sheet_name = i)
    liste_s = df_s.columns.tolist()
    liste_s = [k for k in liste_s if k.startswith('Unnamed')]
    df_s = df_s.drop(liste_s, axis = 1)
    sieb = df_s['TIME'] == 'Germany'
    df_s = df_s.loc[sieb]
    df_s = df_s.transpose()
    liste_s = df_s[8].tolist()
    liste_s = liste_s[1:]
    
    # adding the specific list for each iteration to ganze_list
    ganze_liste.append(liste_s)

# saving the lists as seperate variables
liste_s1, liste_s2, liste_s3, liste_s4 = ganze_liste

Adding the new columns to the already existing dataframe 'da_data_merging'

In [9]:
#df_github = pd.read_csv('https://raw.githubusercontent.com/TechLabs-Dortmund/Food-price-forecast/main/Datasets/data_merging.csv?token=GHSAT0AAAAAACFBQ5PFPN7BWL3L4K7GS6BIZHA33AA')
#df_github.to_csv("data_merging.csv", index = False)
df_data_merging = pd.read_csv("C:/Users/Tom/Food Forecast/data_merging.csv")
df_data_merging
#df_data_merging['Erzeuger_Preise_Nahrungs_Futtermittel'] = liste

,Unnamed: 0,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²)
0,0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0
1,1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6
2,2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3
3,3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1
4,4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4
...,...,...,...,...,...,...,...,...
327,327,2023-04,146.5,79.54,NaN,1.0968,7.53,63.6
328,328,2023-05,146.2,72.66,NaN,1.0868,13.08,42.7
329,329,2023-06,146.0,74.90,NaN,1.0840,18.56,50.4
330,330,2023-07,NaN,85.43,NaN,1.1058,18.72,97.0
331,331,2023-08,NaN,84.14,NaN,NaN,NaN,NaN

In [10]:
df_data_merging.drop(331, inplace = True)
df_data_merging

,Unnamed: 0,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²)
0,0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0
1,1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6
2,2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3
3,3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1
4,4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4
...,...,...,...,...,...,...,...,...
326,326,2023-03,147.6,79.77,NaN,1.0706,5.74,90.4
327,327,2023-04,146.5,79.54,NaN,1.0968,7.53,63.6
328,328,2023-05,146.2,72.66,NaN,1.0868,13.08,42.7
329,329,2023-06,146.0,74.90,NaN,1.0840,18.56,50.4
330,330,2023-07,NaN,85.43,NaN,1.1058,18.72,97.0

PP = Producer Prices

In [11]:
df_data_merging['PP_food_products'] = liste_Erzeuger_Preise_Nahrungsmittel
df_data_merging['PP_bakery_farinaceous_products'] = l
df_data_merging['PP_other_food_products'] = liste_s2
df_data_merging['PP_prepared_feed_farm_animals'] = liste_s3
df_data_merging['PP_pesticides_agrochemicals_products'] = liste_s4

In [12]:
grain_starch =[
 87.3,
 87.4,
 87.7,
 87.8,
 88.8,
 89.4,
 89.7,
 89.8,
 89.2,
 88.5,
 88.4,
 88.1,
 87.7,
 87.3,
 87,
 86.6,
 86.4,
 85.8,
 85.5,
 84.9,
 84.5,
 83.7,
 83.6,
 83.5,
 83.6,
 83,
 83,
 82.6,
 82.4,
 81.8,
 81.7,
 81.5,
 81.2,
 80.8,
 80.7,
 80.7,
 80.2,
 80,
 79.8,
 79.7,
 79.5,
 79.4,
 79.1,
 78.9,
 78.6,
 78.5,
 78.6,
 78.8,
 79,
 79.1,
 79.3,
 79.2,
 79.1,
 79.6,
 79.6,
 81.5,
 81.9,
 82.4,
 82.7,
 82.9,
 83.4,
 83.4,
 83.3,
 83.3,
 83.3,
 83.4,
 83.6,
 83.5,
 83.6,
 83.6,
 83.5,
 83.4,
 83.6,
 83.5,
 83.3,
 83.4,
 83.3,
 83,
 82.7,
 82.2,
 84.1,
 85,
 85.9,
 86,
 86,
 85.8,
 85.7,
 85.6,
 85.5,
 85.8,
 85.6,
 85.5,
 86.5,
 87,
 87.4,
 88,
 88.5,
 88.5,
 88.3,
 88.4,
 88.4,
 88,
 87.5,
 87.3,
 86.9,
 85,
 84.2,
 84,
 83.5,
 83.1,
 82.6,
 82.9,
 82.6,
 83,
 82.6,
 82.6,
 82.4,
 82.4,
 82.8,
 82.8,
 82.8,
 82.9,
 83.5,
 83.5,
 83.5,
 83.4,
 83.5,
 83.7,
 85.7,
 87.5,
 88.3,
 89.2,
 90.5,
 92.1,
 92.1,
 93.2,
 93.5,
 93.6,
 95.4,
 99.8,
 105,
 107.4,
 109.6,
 110.4,
 112.7,
 112.8,
 113.6,
 114.1,
 113.3,
 111.9,
 109.7,
 109.3,
 105.5,
 102.5,
 101.2,
 99.4,
 97.1,
 95.9,
 94.6,
 93.6,
 92.8,
 92.7,
 92,
 91,
 89,
 88.2,
 86.8,
 87.2,
 85,
 85,
 85,
 84.5,
 84.7,
 85.1,
 87.3,
 91.3,
 96.6,
 101.6,
 102.3,
 102.5,
 108.6,
 109.2,
 109.3,
 110.1,
 111.1,
 111.4,
 110.5,
 110.4,
 110.5,
 111.2,
 109.8,
 108.8,
 108.5,
 108.4,
 107.5,
 107.4,
 108.2,
 108.3,
 109.2,
 110.2,
 112.1,
 113.7,
 115.2,
 115.4,
 116.5,
 116.2,
 115.5,
 115.1,
 115.5,
 114.8,
 113,
 111.9,
 110.6,
 109.3,
 107.4,
 107.2,
 106,
 105.7,
 106.2,
 105.6,
 105.3,
 105,
 104.4,
 103.7,
 102,
 101.5,
 101.3,
 101.5,
 101,
 100.6,
 100.8,
 100.6,
 100.4,
 100.2,
 99.8,
 99.6,
 99.4,
 99.3,
 99.2,
 99.1,
 99.2,
 98.7,
 98.4,
 98.3,
 98.1,
 98,
 97.9,
 97.7,
 97.4,
 96.2,
 96.2,
 96.4,
 96.7,
 96.9,
 97,
 97,
 97.4,
 97.8,
 97.9,
 98.3,
 98.2,
 98.8,
 98.8,
 99,
 98.2,
 98.2,
 98.2,
 98.4,
 99,
 98.9,
 99.5,
 100.5,
 101.9,
 102.4,
 102.6,
 102.8,
 104.2,
 104.5,
 104.5,
 104,
 104.1,
 103.7,
 103.5,
 103.1,
 102,
 101.9,
 101.3,
 101.3,
 101.2,
 101.3,
 101.3,
 101.6,
 101.4,
 101.3,
 100.9,
 100.5,
 100.7,
 100.9,
 101.2,
 101.1,
 102,
 102.4,
 102.7,
 104.6,
 105.3,
 105.9,
 106.5,
 107.2,
 108.2,
 112.8,
 115.2,
 117.1,
 120.7,
 121.7,
 130.6,
 137,
 140.8,
 142,
 143.7,
 144.8,
 146.6,
 154,
 159,
 158.4,
 160.1,
 162.1,
 161.8,
 158.7,
 156.1,
 155.7,
 ':']

In [13]:
df_data_merging['PP_Grain_Starch'] = grain_starch
df_data_merging

,Unnamed: 0,Date,Food_Price,Oil_price (USD per gallon),€/kWh,Exchange_rate ($/€),Air_Temperature (°C),Precipitation (l/m²),PP_food_products,PP_bakery_farinaceous_products,PP_other_food_products,PP_prepared_feed_farm_animals,PP_pesticides_agrochemicals_products,PP_Grain_Starch
0,0,1996-01,74.9,16.52,NaN,1.2918,-2.82,7.0,78.6,70.2,:,62.9,86.1,87.3
1,1,1996-02,75.5,17.76,NaN,1.2886,-2.18,48.6,78.4,70.1,:,63.2,85.4,87.4
2,2,1996-03,76.1,19.41,NaN,1.2813,1.00,23.3,78.5,70.9,:,62.8,85.4,87.7
3,3,1996-04,76.4,19.02,NaN,1.2639,8.40,23.1,78.6,70.8,:,63.3,85.4,87.8
4,4,1996-05,76.2,17.80,NaN,1.2467,11.15,91.4,79,70.8,:,65.7,84.9,88.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,326,2023-03,147.6,79.77,NaN,1.0706,5.74,90.4,145.9,145,134.8,152.3,132.8,161.8
327,327,2023-04,146.5,79.54,NaN,1.0968,7.53,63.6,146.3,145.1,135.9,146,132.6,158.7
328,328,2023-05,146.2,72.66,NaN,1.0868,13.08,42.7,145.9,145,136.5,139.3,132.1,156.1
329,329,2023-06,146.0,74.90,NaN,1.0840,18.56,50.4,146.1,144.9,136.8,136.2,132.1,155.7
330,330,2023-07,NaN,85.43,NaN,1.1058,18.72,97.0,:,:,:,:,:,:

Saving the data in a csv file

In [14]:
df_data_merging.to_csv('data_merging_new.csv')